
  <form action="{% url 'Recipes:recipe' %}" method="POST" enctype="multipart/form-data" >
{% csrf_token %}
    <fieldset> <legend><h2>Add New Recipe Here</h2></legend>

   Recipe name: <input type="text" name="name" value="">
      <br><br>


   Ingredients: <input type="text" name="ingredients" value="">
       <br><br>


    Process:<input type="text" name="process" value="">
       <br><br>
   Image:<input type="file" name="upload_image" value="">

   <br>
   <input type="submit" value="Create">

     </fieldset>
</form>
</body>
</html>